<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="">
      {{ block "set-layout" . }}
      {{ end }}
      {{- partial "header.html" . -}}
      <div class="container-fluid">
        <div class="content main-content">
          {{ block "main" . }}
              <div class="card">
                <div class="card-content">
                    <h2>{{.Title}}</h2>
                    {{ .Content }}
                </div>
              </div>
          {{ end }}
          {{ block "info" . }}
          {{ partial "panel.html" . }}
          {{ end }}

          
        </div>
      </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
