html, body {
  font-size: 14px;;
}
.main-content {
  padding: 3rem;
}

.card.content-structure .card-content ol {
  margin-left: 24px;
}
.card.content-structure .card-content ol li ol {
  margin-top: 8px;
}

.card.content-structure {
  margin-bottom: 1rem;
}

div.mermaid {
  font-family: 'trebuchet ms', verdana, arial;
  font-weight: 300;
}

.mermaid .label {
  font-weight: 300;
  font-size: 14px;
  
  
}

.content ol li ol:not([type]) {
  list-style: lower-alpha;
}

.content ol li ol li ol:not([type]) {
  list-style: lower-roman;
}

.info-panel-icon-wrapper {
  background-color: #9A348E;
  border-radius: 15px 0 0 15px;
  border-right: 0;
  text-align: center;
  
  position: fixed;
  top: 200px;
  right: 450px;
  z-index: 200;
  margin: 15px 0 10px 0;
  transition: all .5s ease;
}

.info-panel-icon-closed {
  right: 0;

}

.info-panel-icon {
  font-size: 40px;
  color: #EEEEEE;
  width: 50px;
}



.info-panel {
  z-index: 100;
  background-color: #EEEEEE;
  border-left: #9A348E solid 10px;
  padding: 8px;
  width: 450px;
  position: fixed;
  top: 0;
  height: 100vh;
  right: 0;
  overflow: auto;
  transition: all .5s ease;
}

.info-panel-closed {
  right: -20px;
  width: 0px;
}