html, body {
  font-size: 14px;;
}

code {
  color: #375e9c;
}

a, .breadcrumb a {
  color: #9A348E;
}

a:hover, .breadcrumb a:hover {
  color: #5F2164;

}

a code {
/* color: #44355B; */
font-style: normal;
padding-right: 0;;
}

a code:after {
  content: ' \25E5';
  vertical-align: super;
}

a:hover code {
  color: #5F2164;

}
.main-content {
  padding: 3rem;
}

.card.content-structure .card-content ol {
  margin-left: 24px;
}
.card.content-structure .card-content ol li ol {
  margin-top: 8px;
}

.card.content-structure {
  margin-bottom: 1rem;
}

div.mermaid {
  font-family: 'trebuchet ms', verdana, arial;
  font-weight: 300;
}

.mermaid .label {
  font-weight: 300;
  font-size: 14px;
  
  
}

.content li p:not(:last-child) {

  margin-bottom: 0;
}

.content ol li ol:not([type]) {
  list-style: lower-alpha;
}

.content ol li ol li ol:not([type]) {
  list-style: lower-roman;
}

.content li ol,
.content li ul
{
  margin-top: 0;
}

.content li {
  margin: 0.5rem;
  margin-bottom: 1rem;;
}




.togglebtn-wrapper {
  background-color: #9A348E;
  border-radius: 15px 0 0 15px;
  border-right: 0;
  text-align: center;
  
  position: fixed;
  top: 200px;
  right: 0px;
  z-index: 200;
  margin: 15px 0 10px 0;
  transition: all .5s ease;

  width: 60px;
  height: 60px;

  
}


.togglebtn-wrapper.open {
  right: 450px;
}


.togglebtn {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 8px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.togglebtn .toggleicon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  top: 25px;
}
.togglebtn .toggleicon:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 40px;
  height: 10px;
  background-color: #FFF;
  content: "";
  top: -7px;


  -webkit-transform: rotateZ(-45deg) scaleX(0.75);
          transform: rotateZ(-45deg) scaleX(0.75);
}
.togglebtn .toggleicon:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 40px;
  height: 10px;
  background-color: #FFF;
  content: "";
  top: 7px;

  -webkit-transform: rotateZ(45deg) scaleX(0.75) ;
          transform: rotateZ(45deg) scaleX(0.75) ;
}
.togglebtn.open .toggleicon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.togglebtn.open .toggleicon:before {
  -webkit-transform: rotateZ(45deg) scaleX(0.75) ;
          transform: rotateZ(45deg) scaleX(0.75) ;
}
.togglebtn.open .toggleicon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(0.75);
          transform: rotateZ(-45deg) scaleX(0.75);
}
.togglebtn:hover {
  cursor: pointer;
}











.info-panel {
  z-index: 100;
  background-color: #EEEEEE;
  border-left: #9A348E solid 10px;
  padding: 8px;
  width: 450px;
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: auto;
  transition: all .5s ease;
  right: 0px;
}

.info-panel-closed {
  right: -440px;
}

ul.info-outputs > li {
  display: inline;
  margin: 0 1rem 0 0;
}